.login{
    margin-top: 50px !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 700px;
    padding: 30px 0;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

main form{
    width: 40%;
}

main form > *{
    display: block;
    margin: 30px 0;
}

main img{
    width: 40%;
}

main form label{
    font-size: 10px;
}

main form input{
    padding: 8px;
    width: 100%;
    border: 0.5px solid #434343;
    border-radius: 3px;
    box-sizing: border-box;
}

main form button{
    cursor: pointer;
    background: #F9F9F9;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 0.5px #434343 solid;
    text-align: center;
    width: 91.56px;
    height: 33.3px;
    float: right;
}

h3{
    font-size: 20px;
}

@media only screen and (max-width: 480px) {
    .login img{
        display: none;
    }

    .login > *{
        width: 80%;
    } 
}

